@import "tailwindcss";

@theme {
  --color-background: #8397aa;
  --color-primary: #4A90A2;
  --color-secondary: #2C3E50;
  --color-text: #333333;
}

@theme inline {
  --font-sans: var(--font-poppins-sans);
}

body {
  font-family: Poppins;
}
